@model aspConf.Model.Speaker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Speaker</legend>

    <div class="display-label">FullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">Bio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>

    <div class="display-label">Twitter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Twitter)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SpeakerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
