@model IList<aspConf.Model.Session>
<h2>
    Check out these Great Sessions!</h2>
<p>
    All sessions will be available online. The Live Video sessions are streamed will be streamed from Channel 9. The remaining sessions will be available via Live Meeting in 6 virtual Rooms. The site will update to display the live video and links to the Live Meeting rooms on the day of the conference.</p>
<p>
    All sessions will be recorded and will be available soon after the conference for viewing or download from Channel 9.</p>
@foreach (var session in Model) {
    var speaker = session.Speaker;
    var twitter = "http://twitter.com/@" + speaker.Twitter;
    
    <a name="@session.SessionId">
    <div>
        <strong>@session.Title</strong>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="@twitter" target="_blank">@speaker.FullName</a>
        <br />
        <p>@session.Description</p>
        <p style="display:none">@session.SessionId</p>
    </div>
    </a>
}
