<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>aspConf - The Virtual ASP.NET Conference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet"
        type="text/css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <div class="wrapper">
        <header role="banner" class="banner">
            <section class="container">
                <div class="logo">
                    <div>
                        <a href="/">
                            <img alt="aspConf Logo" src="@Url.Content("~/Content/logo.png")"/></a></div>
                </div>
                <div class="details">
                    <p class="where">
                        Free Online!</p>
                    <p class="when">
                        July 17th & 18th, 2012</p>
                </div>
                <nav class="nav-main clearfix">
                    <ul>
                        <a href="/schedule">
                            <li>Schedule</li></a> <a href="/speakers">
                                <li>Speakers</li></a> <a href="/videos">
                                    <li>Videos</li></a> 
                                    <a href="/sponsors">
                                        <li>Sponsors</li></a>
                    </ul>
                </nav>
            </section>
        </header>
        <div id="main">
            <section class="container">
                <div class="row-fluid">
                    <div class="span9">
                        @RenderBody()
                    </div>
                    <div class="span3 sponsors">
                        @Html.Partial("~/Views/Shared/_Sponsors.cshtml")
                    </div>
                </div>
            </section>
            <!-- /container -->
        </div>
        <div class="clearfix">
        </div>
    </div>
    <footer class="footer">
        <section class="container">
            <div class="row-fluid">
                <div class="span2">
                    <nav>
                        <ul class="nav">
                            <li><a href="/schedule">Schedule</a></li>
                            <li><a href="/speakers">Speakers</a></li>
                            <li><a href="/videos">Videos</a></li>
                            <li><a href="/sponsors">Sponsors</a></li>
                        </ul>
                    </nav>
                    
                </div>
                <div class="span2">
                    <nav>
                        <ul class="nav">
                            <li>@*<a href="/">Home</a>*@</li>
                            <li><a href="http://jabbr.net/#/rooms/aspConf">Chat</a></li>
                            <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dDRBYU85NXNMZ1JDRlBQZ1ViQ2UzaGc6MQ#gid=0">
                                Submit Abstracts</a></li>
                            <li><a href="http://aspconf.eventbrite.com/">Register</a></li>
                            <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dFp3bFpUdnBOY1hpR1FjOTk4SEdNT3c6MA#gid=0">
                                Volunteer</a></li>
                        </ul>
                    </nav>  
                </div>
                <div class="span8">
                <p class="copyright">
                    &copy; aspConf 2012 | <a href="http://geeksharenetwork.com/" target="_blank">GeekShare
                        Network</a></p>
                </div>
            </div>
        </section>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32249007-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
