@using aspConf.Model
@{
    var sponsors = ViewBag.Sponsors as IList<Sponsor> ?? new List<Sponsor>();

    if (sponsors.Count == 0) {
        return;
    }
    
    var partnerSponsors = sponsors.Where(s => s.LevelId == 1).ToList();
    var conferenceSponsors = sponsors.Where(s => s.LevelId != 1).ToList();
}           
<div class="sponsors-partner">
    <h3>
        Partner Sponsors</h3>
    <ul>
        @foreach (var sponsor in partnerSponsors)   {
            var filePath = string.Format("//cdn.geekstati.co/aspconf/content/images/sponsorLogos/sidebar/{0}", sponsor.ImageName);
            
            <li><a href="@sponsor.Url" alt="@sponsor.Name" title="@sponsor.Name" target="_blank">
            <img src="@filePath" /></a></li>
        }
    </ul>
</div>
<div class="sponsors-conference">
    <h3>
        Conference Sponsors</h3>
    <ul>
        @foreach (var sponsor in conferenceSponsors) {
            var filePath = string.Format("//cdn.geekstati.co/aspconf/content/images/sponsorLogos/sidebar/{0}", sponsor.ImageName);
            
            <li><a href="@sponsor.Url" alt="@sponsor.Name" title="@sponsor.Name" target="_blank">
            <img src="@filePath" /></a></li>
        }
    </ul>
</div>
