@model aspConf.Controllers.Models.ScheduleViewModel
<h2>Schedule</h2>

@foreach (var day in Model.Days)
{
    <h3>@day.Title</h3>

    <table id="schedule" cellspacing="0" cellpadding="0">
        <colgroup> 
            <col id="times"> 
            @for (int i = 0; i < day.Rooms.Count; i++)
            {
                <text><col class="track"></text>
            }                       
        </colgroup>

        <thead>
            <tr class="tableHead">
                <th>Time</th>
                @foreach (var room in day.Rooms)
                {
                    <th>@room.Name</th>
                }
            </tr>
            <tr>
                <th></th>
                @foreach (var room in day.Rooms)
                {
                    <td><a class="btn btn-primary" 
                           href="@room.JoinUrl" role="button"><span class="ui-button-text">join</span></a></td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var timeSlot in day.TimeSlots)
            {
                <tr valign="top" class="sessionname">
                    <td>
                        <ul style="list-style-type: none">
                            @foreach (string time in timeSlot.Times)
                            {
                                <li>@time</li>
                            }
                        </ul>
                    </td>
                    @foreach (var session in timeSlot.Sessions)
                    {
                        <td @if (session != null && session.IsKeynote)
                            {
                                <text>colspan="@day.Rooms.Count" class="allrooms"</text>
                            }>
                                            
                            @if (session == null)
                            {
                                <text>&nbsp;</text>
                            }
                            else
                            {
                                <p class="presentation"><strong><a href="@session.Url">@session.Title</a></strong>
                                </p>
                                <p class="speaker">@session.SpeakerName</p>
                            }                                        
                        </td>
                    }
                </tr>
                <tr valign="middle" class="sessioninfo">
                    <td></td>
                    @foreach (var session in timeSlot.Sessions)
                    {
                        <td @if (session != null && session.IsKeynote)
                            {
                                <text>colspan="@day.Rooms.Count" class="allrooms"</text>
                            }>
                            @if (session == null)
                            {
                                <text>&nbsp;</text>
                            }
                            else
                            {
                                <p align="center">
                                    <script type="text/javascript" 
                                            src="http://speakerrate.com/talks/@session.SpeakerRateId/widget.js" 
                                            id="speakerrate-widget-@session.SpeakerRateId"> </script>
                                </p>
                            }
                        </td>
                    }                                
                </tr>
            }       
        </tbody>
    </table>
}
<style>
    table#schedule { border: 1px solid #99a; margin-top: 20px;margin-bottom: 20px; }
    table#schedule ul { padding: 0; white-space: nowrap; text-align: left; font-weight: bold; }
    table#schedule td { border: 1px solid #eef  1px solid #eef; border-top: 1px solid #99a; padding: 2px; min-height: 120px; text-align: center;  }
    table#schedule tr.sessionname td { border-bottom: none; }
    table#schedule tr.sessioninfo td { border-top: none; }
    table#schedule #times { text-align: left; font-style: normal; background: #eee; width: 10%; }
    table#schedule .track { width: 15%; }
    table#schedule td.allrooms { text-align: center; }
</style>
